<!--This filter is a custom filter that filters out students based on the batch name-->

<!doctype>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
    <body ng-app="myapp">
    <h2> Welcome to World of Custom Filters</h2>
<!--
        <ul ng-controller="myCtrl">
            <li ng-repeat="student in students|batchFilter:'qa'">{{student.name|capitalize}}</li>
        
        </ul>
-->
    <ul ng-controller="myCtrl">
            <li ng-repeat="student in students|nameStartsWith:'s'">{{student.name|capitalize}}</li>
        
        </ul>
    
        <script>
            var myapp=angular.module('myapp',[]);
            myapp.filter('capitalize', function(){
                return function(input){
                    if(isNaN(input)){
                      var output=[];
                      for(i=0;i<input.length;i++){
                          if(i===0) output.push(input[i].toUpperCase());
                          else output.push(input[i]);
                      }
                        
                      return output.join('');  
                    }
                    else return input;
                    
                    
                };
            });
            
            myapp.filter('nameStartsWith', function(){
               return function(input,char){
                   
                   if(!char) return input;
                   
                 var output=[];  
                   
                   for(var i=0;i<input.length;i++){
                       if(input[i].name.charAt(0)===char) output.push(input[i]);
                   }
                   
                   return output;
                   
               }; 
            });
            
            myapp.filter('batchFilter', function(){
                
                
               return function(input,batchname){
                   if(!batchname) batchname='pre';
                   
                   var output=input.filter(function(stud){
                      
                       if(stud.batch===batchname) return true;
                       else return false;
                   });
                  
                   return output;
                   
               }; 
            });
            myapp.controller('myCtrl', function($scope){
               $scope.students = [{name:'veda',batch:'pre'},{name:'kiran', batch:'pre'},{name:'leela', batch:'pre'},{name:'bavani', batch:'pre'},{name:'usha', batch:'qa'},{name:'swetha', batch:'qa'},{name:'sheeba', batch:'ui'}]; 
            });
            
        </script>
    </body>
</html>
